/* Definición de variables CSS para valores que se repiten */
:root {
  --main-padding: 1em;  /* Padding principal */
  --button-bg-color: #7ec5b9 ;  /* Color de fondo de los botones */
  --button-text-color: #fff;  /* Color del texto de los botones */
  --button-padding: 10px 20px;  /* Padding de los botones */
  --button-radius: 4px;  /* Radio de borde de los botones */
  --color: #5a5a5a; /* Color del placeholder */
}

/* Estilo del contenedor principal */
#root {
  max-width: 1280px;  /* Ancho máximo */
  margin: 0 auto;  /* Centrar */
  padding: var(--main-padding);  /* Padding */
  text-align: center;  /* Alineación del texto al centro */
}

/* Estilo del logo */
.logo {
  height: 5em;  /* Altura */
  padding: 1.2em;  /* Padding */
  transition: filter 300ms;  /* Transición suave del filtro */
}


/* Estilo de las tarjetas y el contenedor de botones */
.card, .button-container {
  padding: var(--main-padding);  /* Padding */
}

/* Estilo de los campos de entrada */
.input-group input {
  width: 100%;  /* Ancho completo */
  padding: 10px 5px;  /* Padding */
  border: 1px solid #ccc;  /* Borde */
  border-radius: var(--button-radius);  /* Radio de borde */
}

/* Estilo de las etiquetas de las fechas y otros campos */
.date-label, .input-label {
  margin-bottom: 5px;  /* Margen inferior */
}

/* Espaciado superior del contenedor de botones */
.button-container {
  margin-top: 1rem;  /* Margen superior */
}

/* Estilo de los botones dentro del contenedor de botones */
.button-container button {
  margin: 0.1em; /* Ajusta este valor según tu preferencia */
}

/* Estilos existentes */

/* Estilo para el contenedor de botones */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para el grupo de botones Borrar y Ayuda */
.button-group {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px; /* Espacio entre los botones Borrar y Ayuda */
}

/* Estilos para los botones individualmente */
.button-borrar, .button-ayuda {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.2em;
  width: 30px;
  height: 30px;
}

.button-consulta {
  padding: 30px 30px;
  font-size: 1.2em;
  width: 150px;
  height: 60px;
}

.button-borrar img, .button-ayuda img {
  height: 20px;
  width: auto;
}

body {
  background: radial-gradient(circle, #40666d, #131b33);
}


/* Estilo de los botones del contenedor de botones y el botón volver */
.button-container button, .volver-help-button {
  background-color: var(--button-bg-color);  /* Color de fondo */
  color: var(--button-text-color);  /* Color del texto */
  border: none;  /* Sin bordes */
  padding: var(--button-padding);  /* Padding */
  cursor: pointer;  /* Cursor puntero */
  border-radius: var(--button-radius);  /* Radio de borde */
}

/* Efecto al pasar el ratón sobre los botones */
.button-container button:hover, .volver-help-button:hover {
  background-color: #66a9a1;  /* Color de fondo más oscuro */
}

/* Estilo del logo de la app */
.app-logo {
  width: 150px;  /* Ancho */
  margin-bottom: 20px;  /* Margen inferior */
}

/* En tu archivo CSS (e.g., App.css) */
.text-field {
  background-color: #66a9a1 ;
}

/* En tu archivo CSS (e.g., App.css) */
.text-field::placeholder {
  color: var(--color);
  opacity: 1; /* Firefox */
}

.text-field::-webkit-input-placeholder {
  color: var(--color); 
}

.text-field::-moz-placeholder {
  color: var(--color);
  opacity: 1; /* Firefox */
}

.text-field:-ms-input-placeholder {
  color: var(--color); /* Rojo en formato hexadecimal */
}

.text-field::-webkit-datetime-edit-fields-wrapper {
  color: white; 
}

.text-field.has-value {
  color: white;
}

.text-field:not(:placeholder-shown) {
  color: white;
}

/*------------------------------------------------------------*/

/* App.css */

/* Estilo para el contenedor del calendario */
.calendar-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #40666d;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón de Cerrar */
.calendar-container button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #7ec5b9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo para el botón de Cerrar al pasar el ratón por encima */
.calendar-container button:hover {
  background-color: #66a9a1;
}

/* Estilo para los días con eventos (backgroundColor personalizado) */
.fc-day-grid-event {
  background-color: #7ec5b9;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px;
  font-size: 14px;
}

/* Estilo para los días con eventos al pasar el ratón por encima */
.fc-day-grid-event:hover {
  background-color: #66a9a1;
}

.text-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.text-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.text-field::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
